pipeline/PL_DS_Source_Sink_Test.json
{
	"name": "PL_DS_Source_Sink_Test",
	"properties": {
		"activities": [
			{
				"name": "Get_Metadata_Test",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ABS_GetChildItems",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FLT_Source_Sink_test",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get_Metadata_Test",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Metadata_Test').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'m' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_File_test",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FLT_Source_Sink_test",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FLT_Source_Sink_test').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ABS_Source_Test",
									"type": "DatasetReference",
									"parameters": {
										"input": {
											"value": "@pipeline().parameters.Input",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ABS_Sink_test",
									"type": "DatasetReference",
									"parameters": {
										"output": {
											"value": "@pipeline().parameters.Output",
											"type": "Expression"
										},
										"filename": "@item().name"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Input": {
				"type": "string"
			},
			"Output": {
				"type": "string"
			},
			"Files": {
				"type": "string"
			}
		},
		"annotations": []
	}
}