ADF/adfsql-logging/pipeline/PipeLine_Copy_DB_Logging.json
{
	"name": "PipeLine_Copy_DB_Logging",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"sourceschema": {
								"value": "@pipeline().parameters.sourceSchema",
								"type": "Expression"
							},
							"sourcetable": {
								"value": "@pipeline().parameters.sourceTable",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_logging]",
					"storedProcedureParameters": {
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"rowscopied": {
							"value": {
								"value": "@activity('Copy data1').output.rowsCopied",
								"type": "Expression"
							},
							"type": "String"
						},
						"rowsRead": {
							"value": {
								"value": "@activity('Copy data1').output.rowsRead",
								"type": "Expression"
							},
							"type": "String"
						},
						"runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"sinkType": {
							"value": {
								"value": "@activity('Copy data1').output.executionDetails[0].sink.type",
								"type": "Expression"
							},
							"type": "String"
						},
						"source": {
							"value": {
								"value": "@activity('Copy data1').output.executionDetails[0].source.type",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "'Success'",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_logging]",
					"storedProcedureParameters": {
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"rowscopied": {
							"value": {
								"value": "0",
								"type": "Expression"
							},
							"type": "String"
						},
						"rowsRead": {
							"value": {
								"value": "@activity('Copy data1').output.rowsread",
								"type": "Expression"
							},
							"type": "String"
						},
						"runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"sinkType": {
							"value": {
								"value": "@activity('Copy data1').output.executionDetails[0].sink.type",
								"type": "Expression"
							},
							"type": "String"
						},
						"source": {
							"value": {
								"value": "@activity('Copy data1').output.executionDetails[0].source.type",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "'Failure'",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"sourceSchema": {
				"type": "string"
			},
			"sourceTable": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-01-28T17:30:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}